<form action="{ACTION}" method="{METHOD}" name="login"> 
  <div> <label for="signin-u">{USERNAME}</label> 
    <input name="username" id="signin-u" size="10" type="text" class="text" tabindex="1"> 
  </div> 
  <div> <label for="signin-p">{PASSWORD}</label> ( <a href="/forgot.g" title="Forgot your password?">{FORGOT}</a>) 
    <input name="password" id="signin-p" size="10" type="password" class="text" tabindex="2"> 
  </div> 
  <p> 
    <input src="img/btn_signin.gif" alt="Sign in" type="image" id="signin-b" tabindex="3"> 
  </p> 
</form>
