body {
     font:small "Verdana",Trebuchet MS,Arial,Sans-serif;
     margin: 0;
}



/*
	Page Layout
*/

div#header {
	   background: #036;
	   float: left;
	   width: 100%;
	   padding: 0;
	   margin: 0px;
}

#header #h2 {
	margin-left: 0px;
	margin-right: 0px;
}

div#breadcrumbs {

        background-color: #aadfff;
	width: 100%;
        float:left;
	padding: .2em;
	letter-spacing: -0.05em;
}

div#breadcrumbs a{
        color: #000;
}

div#breadcrumbs a:hover{
        color: #555;
}


div#body {
	   background: #AADFFF;
	   float:left;
	   width:100%;
	   padding: 0;
	   margin: 0;
}

#body #main-wrap {
      text-align: center;
      margin: 10px;
      background: #FFF;
}

#body #main-wrap #m2{
      text-align: left;
      padding: 10px;
}


div#footer {
	   background: #EEE;
	   margin: 0px;  
	   padding: 0px;
	   float:left;
	   width: 100%;	  
}

div#footer p{
	   margin: 5px;  
	   padding-top: 5px;
	   padding-bottom: 5px
	   border: solid 1px black; 
}


/*
	Header Layout
*/

div.header span.logo {
  float: left;
  text-align: left;
  font-weight: bold;
  width: 49%;
  }

div.header span.user-info {
  float: right;
  text-align: right;
  font-weight: bold;
  width: 49%;
  padding-top:5px;
  padding-right:10px;
  color:white;
  }


/*
	Text Properties
*/


div.header span.user-info a{
  color:white;
  }

div.header span.user-info a:hover{
  color: #EEE;
  }

div#footer p {
	   text-align: center;
	   font-size: 11px;
}


h1 {
	color: #339;
	font-size: 2em;
	font-weight: normal;
	font-style: italic;
	line-height: 1;
	margin: 0;
}



/* 
      Table Properties
*/

table tr.odd {
     background: #eee;
}

table tr.even {
     background: #ccc;
}

tr.unmerged {
	    background: #eee;
}

tr.merged {
	    background: #999;
}

tr.selected {
	    background: red;
}

td.operations {
   text-align: center;
}

td.operations img {
   padding: 2px;
   background:  #EEE;
   border: dotted 1px black;
}

td#active {
	  background: green;
	  color: white;
	  font-weight: bold;
}

td#inactive {
	  background: #ddd;
}

table {
      border: solid 1px;
}

table th 
      {
      padding: 0.2em;
      background: #6090C0;

}

table td.label 
      {
      font-weight: bold;
      background: #6699CC;
      text-align: right;
}

table td.buttons 
      {
      text-align: center;
}


/*
	Form Styles
*/

input {
border: solid 1px #6699CC;
font:small "Trebuchet MS",Verdana,Arial,Sans-serif;
padding: 2px;
}

textarea {
border: solid 1px #6699CC;
font:small "Trebuchet MS",Verdana,Arial,Sans-serif;
padding: 2px;
}

select {
border: solid 1px #6699CC;
margin: 0px;
padding: 0px;
font:small "Trebuchet MS",Verdana,Arial,Sans-serif;
}



pre {
padding: 2px;
background: yellow;
border: solid 1px #6699CC;
text-align: left;
}



a img {
  border: dotted 1px #000;
  padding: 2px;

}



div#small_body {
	       width: 80%;
	       margin: 10px;
	       padding: 10px;
	background: #eee;
	border: solid 1px #000;
}

p#heuristicset_title {
       margin:0 0 15px;
  font-size:210%;
  line-height:1.2em;
  font-weight:normal;
  color:#666;

}
p#heuristicset_description {
  margin:1em 0 .5em;	   
  font-size:130%;
  line-height:1.3em;
  color:#020C05;
  font-weight:normal;
}

p#heuristic_title {
		    margin:1em 0 .25em;
  padding:.25em 0;
  font-size:113%;
//  text-transform:uppercase;
  letter-spacing:.1em;
  color:#000;


}

p#heuristic_description {
		    margin:0em 1em 0em;
  color:#000;

}