@import "hem_main.css";
@import "von_martin.css";

/* Low-end styles
----------------------------------------------- */
body {
  background:#E1D4C0;
  }
#header {
  padding:5px;
  background:#036;
  border-width:1px;
  border-style:none;
  color:#369;
  }
#header a {
  color:#9cf;
  }
a img {
  border-width:0;
  border-style:none;
  color:#E1D4C0;
  }
#header a img {
  color:#036;
  }
p {
  color:#333;
  }
#header p {
  color:#69c;
  }