input {
border: solid 1px #6699CC;
font:small "Trebuchet MS",Verdana,Arial,Sans-serif;
padding: 2px;
}

textarea {
border: solid 1px #6699CC;
font:small "Trebuchet MS",Verdana,Arial,Sans-serif;
padding: 2px;
}

select {
border: solid 1px #6699CC;
margin: 0px;
padding: 0px;
font:small "Trebuchet MS",Verdana,Arial,Sans-serif;
}



pre {
padding: 2px;
background: yellow;
border: solid 1px #6699CC;
text-align: left;
}

p#heuristicset_title {
       margin:0 0 15px;
  font-size:210%;
  line-height:1.2em;
  font-weight:normal;
  color:#666;

}
p#heuristicset_description {
  margin:1em 0 .5em;	   
  font-size:130%;
  line-height:1.3em;
  color:#020C05;
  font-weight:normal;
}

p#heuristic_title {
		    margin:1em 0 .25em;
  padding:.25em 0;
  font-size:103%;
  text-transform:uppercase;
  letter-spacing:.1em;
  color:#000;


}

p#heuristic_description {
		    margin:0em 1em 0em;
  color:#000;

}


tr#merged {
	  background:#FFFFFF;	  
}

tr#unmerged {
	  background:#EAF2FF;	  
}